@import '../../../../assets/scss/colors.scss';
@import '../../../../assets/scss/mixins.scss';

.form{
  @include flex(null, 'space-between');
  flex-wrap: wrap;
  margin-bottom: 30px;
 }

.label{
  display: block;
  margin-bottom: 15px;
}

.containerLoader{
  position: relative;
}


.containerLoader{
  min-width: 100%;
  background-color: red;
  min-height: 200px;
  margin-bottom: 30px;
}

@media  screen and (min-width: 768px){
  .form{
    max-width: 55%;
  }
  .containerLoader{
    background-color: blue;
    min-width: 55%;
  }
}
.containerTextarea,
.containerInput{
  margin-bottom: 15px;
  position: relative;
}


.containerTextarea{
  min-width: 100%;
  flex: 1;
  padding-bottom: 0;
}

.containerInput{
  min-width: 100%;
}

.textarea,  
.input{
  min-width: 100%;
  max-width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1.3px solid $gray;
  
  &:focus{
    outline: none;
    border-color: $focusInputColor;  
  }
}

.inputError{
  @extend .input;
  border-color: $error;
}
 
.textarea{
  height: 200px;
}

.textareaError{
  @extend .textarea;
  border-color: $error; 
}

@media  screen and (min-width: 480px){
  .containerInput{
   margin-top: 0;
   max-width: 45%;
   min-width: 45%;
  }
}

.button{
  border: 1.22px solid $green;
  background-color: $white;
  height: 45px;
  width: 100%;
  border-radius: 5px; 
  font-size: 18px;
  transition: background-color .5s ease, color .2s ease-in;

  &:disabled:hover{
    cursor: not-allowed; 
    background-color: transparent;
    color: rgba(16, 16, 16, 0.3);
  } 

  &:hover{
   cursor: pointer;
   background-color: $green;
   color: $white;
  }
  
}  

@media  screen and (min-width: 768px){
  .button{
   margin-left: auto;
   width: 200px;
  }
}

