@import '../../../../assets/scss/colors.scss';

.containerForm {
  margin: 50px 5px 5px 5px;
  display: flex;
}
 
@media screen and (min-width: 480px) {
  .containerForm {
    margin: 50px;
  }
}

.input {
  border: 1px solid $gray;
  padding: 18px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  max-width: 80%;

  &:focus {
    border-color: $focusInputColor;
  }
}

.inputError {
  @extend .input;
  border-color: $error;

  &:focus {
    outline: none;
  }
}

.button {
  border: 1px solid $gray;
  border-left: none;
  background-color: $white;
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  padding: 8px;
  font-weight: 700;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  max-width: 20%; 
 
  &:hover {
    cursor: pointer;
    background-color: $green;
    color: $white;
  }
 
  &:disabled:hover{
    cursor: not-allowed; 
    color: rgba(16, 16, 16, 0.3);
    background-color: transparent;
  }

}

 .error{
  min-width: 100%;
}
