@import '../../assets/scss/colors';

.newsletter {
  padding: 25px;
}

.containerForm {
  margin: 50px 5px;
  display: flex;
}

@media screen and (min-width: 480px) {
  .newsletter {
    padding: 35px;
    padding-top: 10px;
    margin-top: 25px;
  }

  .containerForm {
    margin: 50px;
  }
}

.input {
  border: 1px solid $gray;
  padding: 18px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  
  &:focus {
    border-color: $focusInputColor;
  }
}

.error {
  @extend .input;
  border-color: red;

  &:focus {
    outline: none;
  }
}


