#loader{ 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;

}

.dot1,
.dot2,
.dot3{
  background-color: #d3d3d3;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  animation-name: loading;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.dot2{
  margin-left: 15px;
  animation-delay: .4s;
}

.dot3{
  margin-left: 15px;
  animation-delay: .8s;
}


@keyframes loading{
 from{
  opacity: 0.8;
  background-color: green;
}
 
 to{
   opacity: 0.3;
 }

}
