.sponsor{
  min-width: 100%;
  padding: 35px;
  padding-top: 0;
  overflow: hidden;
  align-self: center;
}

@media screen and (min-width: 480px){
  .sponsor{
    min-width: 30%;
    max-width: 200px;
  }
}

.logo > img{
  max-height: 100%;
  max-width: 100%;
}

.name{
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
}
