@import '../../../../assets/scss/colors.scss';
@import '../../../../assets/scss/mixins.scss';

.containerSocialNet{
  padding: 10px 0;
  margin: 0 auto;

  *+.socialNet { 
    margin-top: 25px;
  } 

}

.socialNet{
  @include flex-a-center;
  min-width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 618px){
  .containerSocialNet{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
  }
  .socialNet{
   margin-top: 25px;
   max-width: 65%; 
   min-width: 45%;
  }
}

@media screen and (min-width: 768px){
  .containerSocialNet{
    display: block;
    min-width: 30%;
    padding-left: 30px;
  }

}

.containerIcon{
  @include flex-j-center-a-center;
  flex-shrink: 0;
  height: 85px;
  width: 85px;
  border-radius: 50%;

  &:hover .icon{
    transform: rotateZ(360deg); 
  }
}

.gmail{
  @extend .containerIcon;
  background-color: $gmail;
}

.facebook{
  @extend .containerIcon;
  background-color: $facebook;
}

.instagram{
  @extend .containerIcon; 
  background-color: $instagram;
}

.twitter{
  @extend .containerIcon;
  background-color: $twitter;
}

.icon {
  color: $white;
  font-size: 35px;
  transition: transform .5s ease;
}

.userSocialNet{
  margin-left: 10px;
  color: #000; 

  &:hover{
    text-decoration: underline;
  }
}
