.dondeLlevar{
  padding: 0 20px;
}

.map{
  min-height: 80vh;
  min-width: 80vw;
  z-index: 2;
}

.markerIcon{
  font-size: 35px;
  color: purple;
}

.green{
  @extend .markerIcon;
  color:#5CB85C  ;
}

.lightblue{
  @extend .markerIcon;
  color:rgb(5, 134, 173);
  font-size: 35px;
}

.red{
  @extend .markerIcon;
  color: red;
}
