@import '../../../../assets/scss/colors';

.burgerMenu {
  font-size: 32px;
  position: relative;
  width: 35px;
  height: 30px;

  &:hover {
    cursor: pointer;
  }
}

.burgerIcon {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 35px;
  background-color: $white;
  transition: transform .5s ease;
  -webkit-transition: transform .5s ease;
  -moz-transition: transform .5s ease;
  -ms-transition: transform .5s ease;
  -o-transition: transform .5s ease;

  &:nth-child(2) {
    top: 10px;
  }

  &:nth-child(3) {
    top: 20px;
  }
}

.burgerIconClose {
  @extend.burgerIcon;
  margin-top: 8px;

  &:nth-child(1) {
    transform: rotate(43deg) translateY(1.6px);
    -webkit-transform: rotate(43deg) translateY(1.6px);
    -moz-transform: rotate(43deg) translateY(1.6px);
    -ms-transform: rotate(43deg) translateY(1.6px);
    -o-transform: rotate(43deg) translateY(1.6px);
  }

  &:nth-child(2) {
    transform: rotate(-43deg) translateY(-8px) translateX(4.8px);
    -webkit-transform: rotate(-43deg) translateY(-8px) translateX(4.8px);
    -moz-transform: rotate(-43deg) translateY(-8px) translateX(4.8px);
    -ms-transform: rotate(-43deg) translateY(-8px) translateX(4.8px);
    -o-transform: rotate(-43deg) translateY(-8px) translateX(4.8px);
  }

  &:nth-child(3) {
    visibility: hidden;
  }
}

@media screen and (min-width: 768px) {
  .burgerMenu {
    display: none;
  }
}
