.burgerMenu {
  justify-self: flex-end;
  font-size: 32px;
  position: relative;
  width: 45px;
  height: 40px;
  min-width: 100%;
  
  &:hover {
    cursor: pointer;
  }
}

.burgerIcon {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 45px;
  background-color: black;
  transition: transform .5s ease;
  -webkit-transition: transform .5s ease;
  -moz-transition: transform .5s ease;
  -ms-transition: transform .5s ease;
  -o-transition: transform .5s ease;

  &:nth-child(2) {
    top: 14px;
  }

  &:nth-child(3) {
    top: 28px;
  }
}

.burgerIconClose {
  @extend.burgerIcon;
  margin-top: 8px;

  &:nth-child(1) {
    transform: rotate(45deg) translateY(.2rem);
    -webkit-transform: rotate(45deg) translateY(.2rem);
    -moz-transform: rotate(45deg) translateY(.2rem);
    -ms-transform: rotate(45deg) translateY(.2rem);
    -o-transform: rotate(45deg) translateY(.2rem);
  }

  &:nth-child(2) {
    transform: rotate(-45deg) translateY(-.6rem) translateX(.4rem);
    -webkit-transform: rotate(-45deg) translateY(-.6rem) translateX(.4rem);
    -moz-transform: rotate(-45deg) translateY(-.6rem) translateX(.4rem);
    -ms-transform: rotate(-45deg) translateY(-.6rem) translateX(.4rem);
    -o-transform: rotate(-45deg) translateY(-.6rem) translateX(.4rem);
  }

  &:nth-child(3) {
    visibility: hidden;
  }
}

@media screen and (min-width: 768px) {
  .burgerMenu {
    display: none;
  }
}
